/bazel-bin
/bazel-homekeeper
/bazel-out
/bazel-testlogs

assets/
build/
dist/
homekeeper/__pycache__/
homekeeper/*.pyc
homekeeper.egg-info/
htmlcov/
.cache/
.coverage
homekeeper.html
homekeeper-tests.html
