/assets/
/bazel-bin
/bazel-homekeeper
/bazel-out
/bazel-testlogs
/dist/
/homekeeper/__pycache__/
/homekeeper/*.pyc
/homekeeper.egg-info/
/htmlcov/
/venv/
/.cache/
/.coverage
/homekeeper.html
/homekeeper-tests.html
